body {
  font-family: Arial, sans-serif;
  background-color: lightgreen;
  margin: 0 auto;
  width: 60%;
}

aside {
  display: inline-block;
}

.description {
 margin: 15px 0px;
}

.ingredients-list li {
  margin: 15px 0px;
}
.directions-list li {
 margin: 15px 0px;
}

input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}

label {
    display: block;
}

h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

nav {
  float: right;
  /*display: inline-block;*/
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

header > img {
  float: left;
  width: 100px;
}

ul li a, figcaption a {
  color: inherit;
  text-decoration: none;
}

.user_review {
  text-decoration: line-through;
  font-weight: bold;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  vertical-align: bottom;
  background-image: url(assets/stars.png);
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

input[type="radio"], select[id="expertise"], input[type="submit"] {
  cursor: pointer;
  outline: none;
}

input[type="submit"]:last-child {
  background: gold;
}

input[type="submit"]:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: lightgray;
  margin: 10px 0;
}

h2 + .user_review {
  border-top: 1px solid black;
}
